.join {
    height: 100vh;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.join_content_block {
    background-image: url('../public/12.webp');
    background-size: cover;
    background-position: center;
    height: 712px;
    width: 1264px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join_header {
    margin-top: 77px;
    font-size: 36px;
    text-align: center;
}
.join_sub_header {
    margin-top: 8px;
    font-size: 20px;
    font-family: var(--alt-font);
    font-weight: 400;
    max-width: 868px;
    text-align: center;
}

.join_buttons {
    display: flex;
    gap: 32px;
}

.button_play_join {
    background-image: url('../public/button_big.webp');
    width: 292px;
    height: 60px;
    background-size: cover;
    background-position: center;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Sarpanch", sans-serif;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    margin-top: 52px;
}


@media (max-width: 1025px) {

    .join_content_block {
    background-image: url('../public/12.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 14px;
}

.join_sub_header {
    max-width: auto;
}

.join_buttons {
    display: none;
    gap: 32px;
} 
 
    
    }