.join {
    /* background-image: url('../public/main_bg.png'); */
    height: 100vh;
    /* Примерная высота */
    /* background-size: cover; */
    /* Масштабировать изображение, чтобы оно полностью заполняло фон */
    /* background-position: center; */
    /* Расположить изображение по центру */
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.join_content_block {
    background-image: url('../public/12.png');
    background-size: cover;
    /* Масштабировать изображение, чтобы оно полностью заполняло фон */
    background-position: center;
    /* Расположить изображение по центру */
    height: 712px;
    width: 1264px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.join_header {
    margin-top: 77px;
    font-size: 36px;
    text-align: center;
}
.join_sub_header {
    margin-top: 8px;
    font-size: 20px;
    font-family: var(--alt-font);
    font-weight: 400;
    max-width: 868px;
    text-align: center;
}

.join_buttons {
    display: flex;
    gap: 32px;
}

.button_play_join {
    background-image: url('../public/button_big.png');
    width: 292px;
    height: 60px;
    background-size: cover;
    background-position: center;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Sarpanch", sans-serif;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    margin-top: 52px;
}