@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;500;600;700;800;900&display=swap');

:root {
  --bg-color: #08172C;
  --font-color: #ffffff;
  --main-font: "Goldman", sans-serif;
  --alt-font: "Sarpanch", sans-serif;
  
  /* $bg-color: #F8F8F8;
$border: #E1E1E1;
$border-dark: #D8D8D8;
$black: #232335;
$green: #33B18B;
$green-hover: #289877;
$green-disabled: #78CAB1;
$white: #FFFFFF;
$gray: #909090;
$green-border: #C0E6DA;
$green-bg: #EBF4F1;
$gray-disabled: #F2F2F2; */
}

body {
  font-family: var(--main-font);;
  color: var(--font-color);
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  background-color: var(--bg-color);
}



