.main {
    background-image: url('../public/main_bg.png');
    height: 120vh;
    /* Примерная высота */
    background-size: cover;
    /* Масштабировать изображение, чтобы оно полностью заполняло фон */
    background-position: center;
    /* Расположить изображение по центру */
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main_content_block {
    background-image: url('../public/1.png');
    background-size: cover;
    /* Масштабировать изображение, чтобы оно полностью заполняло фон */
    background-position: center;
    /* Расположить изображение по центру */
    height: 412px;
    width: 1048px;
    margin-top: -260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_header {

    font-size: 50px;
    text-align: center;
}
.main_sub_header {
    margin-top: 8px;
    font-size: 25px;
    font-family: var(--alt-font);
    font-weight: 400;
    max-width: 434px;
    text-align: center;
}

.button_play_main {
    background-image: url('../public/button_big.png');
    width: 292px;
    height: 60px;
    background-size: cover;
    background-position: center;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Sarpanch", sans-serif;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    margin-top: 52px;
}